@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
    background-image: url('../media/logoatlus.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background-color: rgba(30, 30, 30, 0.6);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 360px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(1.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(38, 38, 38, 0.7);
    color: #ffffff;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #178bcd;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #178bcd;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #126797;
}

.link-container {
    margin-top: 15px;
    text-align: center;
}

#registro-label {
    color: #178bcd;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

#registro-label:hover {
    color: #126797;
}



#inicio-label {
    color: #178bcd;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

#inicio-label:hover {
    color: #126797;
}
